<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter Results</title>
  </head>
  <body>
    <div class="resultBox">
      <h2>@Model.WordCount()</h2>      
    </div>
  </body>
</html>
